html, body {
  font-family: $times;
  background: #fafafa;
}

.container {
  width: 1000px;
  margin: 0 auto;
  padding-top: 75px;

  a {
    color: #aaa;
    transition: text-shadow 400ms;

    &:hover,
    &:focus {
      text-shadow: 7px 5px #fff;
    }
  }
}

article {
  margin-bottom: 50px;
  font-size: 125px;
  color: #aaa;
  text-shadow: 5px 3px #fff;

  span {
    margin-left: -60px;
    margin-right: 10px;
    font-size: 24px;
    color: #aaa;
    text-shadow: none;
  }
}
