$total-height: 35px;
$marker-color: #000000;
$event-color: red;

.timely {
  box-sizing: border-box;
  position: fixed;
  top: 0;
  height: $total-height;
  font-size: 12px;
  z-index: 2;

  * {
    box-sizing: border-box;
  }

  ul {
    display: block;
    width: 100%;
    margin: 0;
    padding: 0;
    list-style-type: none;

    li {
      float: left;
      display: inline-block;
      height: 100%;
      margin: 0;
    }
  }
}

ul.timely__groups {
  height: $total-height;

  li {
    position: relative;

    &:first-child {
      .timely__markers {
        border-left: 1px solid $marker-color;
      }
    }
  }

  span {
    position: absolute;
    bottom: 0;
    margin-left: -13px;
  }

  span + span {
    right: 0;
    margin-left: 0;
    margin-right: -13px;
  }
}

.timely__markers {
  position: absolute;
  top: 7px;
  width: 100%;
  height: 10px;
  border-right: 1px solid $marker-color;

  li {
    height: 100%;
    border-right: 1px solid $marker-color;
  }
}

.timely__markers--major {
  @extend .timely__markers;
  height: 10px;
}

.timely__markers--minor {
  @extend .timely__markers;
  height: 5px;
}

.timely__markers--event {
  position: absolute;
  top: 0px;
  width: 1px;
  height: 12px;
  background: $event-color;
  z-index: 2;
}
